{% extends 'home/inicio.html' %}

{% load static %}

<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">Productos del vendedor </h4>
                </div>
                {% if producto %}
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th class="serial">Numeracion</th>
                                    <th class="avatar">Avatar</th>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th>Descripcion</th>
                                    <th>Fecha publicacion</th>
                                    <th>Estado del producto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for productos in producto %}
                                    <td class="serial">0</td>
                                    <td class="avatar">
                                        <div class="round-img">
                                            <a href="#"><img class="rounded-circle" src="images/avatar/1.jpg" alt=""></a>
                                        </div>
                                    </td>
                                    <td> {{ productos.producto_id }} </td>
                                    <td>  <span class="name"> {{ productos.prod_nombre }} </span> </td>
                                    <td> <span class="product">{{ productos.precio }}</span> </td>
                                    <td><span class="count">{{ productos.prod_descripcion }}</span></td>
                                    <td>
                                        <span class="badge badge-complete">{{ productos.prod_vigencia }}</span>
                                    </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="serial">2.</td>
                                    <td class="avatar">
                                        <div class="round-img">
                                            <a href="#"><img class="rounded-circle" src="images/avatar/2.jpg" alt=""></a>
                                        </div>
                                    </td>
                                    <td> #5468 </td>
                                    <td>  <span class="name">Gregory Dixon</span> </td>
                                    <td> <span class="product">iPad</span> </td>
                                    <td><span class="count">250</span></td>
                                    <td>
                                        <span class="badge badge-complete">Complete</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- /.table-stats -->
                </div>
                {% else %}

                    <button>Publicar producto</button>
                    <h2>Actualmente no tiene productos para listar</h2>
                {% endif %}
            </div> <!-- /.card -->
        </div>  <!-- /.col-lg-8 -->
    </div>
</div>