{% extends 'index.html' %}
{% load static %}
 
 

{% block contenido %}

<div>

  <form method="POST">
    {% csrf_token %}
    {% if form.errors %}
    <div>
        <div>
            {% for key, value in form.errors.item %}
            <strong>{{ value }}</strong>
            {% endfor %}
        </div>
        <button type="button" class="close" data-dismiss=" alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <div>
      <label for="">usuario</label>
      {{ form.username }}
    </div>
    <div>
      <label for="">password</label>
      {{ form.password }}
    </div>
    <div>
      <label for=""> recuerdame</label>
      {{ form.remember_me }}
    </div>

    <div>
      <p><input type="submit" name="submit" value="LogIn"></p>
      <p><input type="reset" name="reset" value="reset"></p>
    </div>
    <div>

    </div>
</form>

 </div>
{% endblock contenido %}