{% load static%}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block titulo %}Blog Mercado web{% endblock titulo %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/clean-blog.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Mercado web</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home:inicio' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home:categorias' %}">Categorias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home:productos' %}">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Videojuegos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tecnología</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tutoriales</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                Usuario
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="#">LogIn</a></li>
                <li><a class="dropdown-item" id="mdl_registrar">Register</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">LogOut</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Nav bars futuros  -->
    {% block modal %}

    {% endblock modal %} 
    <!-- Page Header -->
    <header class="masthead">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h2>{% block titulo_principal %}Mercado web{% endblock titulo_principal %}</h2>
            </div>
          </div>
        </div>
      </div>
    </header>

  {% block barra_busqueda %}  
    <div class="container">
      <div class="row">
        <div class="col-md-12 search">
          <form method="get">
              <div id="custom-search-input">
                <div class="input-group col-md-12">
                  <input type="text" class="form-control" placeholder="Buscar..." name="buscar" id="buscar" value = "{{ request.GET.buscar }}">
                  <span class="input-group-list">
                    <i class="icon icon-search"></i>
                    <button type="submit" class="boton btn-success">Buscar</button>
                  </span>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  {% endblock barra_busqueda %}
    <!-- Main Content -->
    {% block clases_container_contenido %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% block contenido %}

          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, quo beatae nemo similique impedit asperiores, ex labore, esse libero fuga facilis voluptatum ducimus debitis iusto explicabo consequatur porro! Quam, voluptas.
          Suscipit dicta veniam aut minus id ad rerum dolores et, voluptatibus sit, molestias magnam deserunt reprehenderit ipsum esse voluptate porro numquam. A vero labore fugit vitae suscipit et distinctio aspernatur?
          Ad dolorum mollitia molestias tempore itaque quod pariatur ab autem doloribus, quos ratione debitis minima beatae veritatis dolores sapiente magnam odit distinctio nisi ea eligendi commodi alias. Porro, aliquid voluptatem.
          Accusantium cupiditate voluptates dolores pariatur. Quo corporis id inventore non voluptas, vero adipisci, voluptatem ducimus ipsum facere nulla omnis laudantium eum, placeat sed veritatis veniam eos! Tempora a eveniet blanditiis?
          Maxime assumenda accusantium earum laborum, rerum aliquid facere commodi dolor! Harum hic velit recusandae cum id rem reprehenderit? Voluptatibus reiciendis alias sequi architecto quis laboriosam optio illo cum voluptatum vel.
          Debitis commodi fugiat quisquam temporibus accusantium! Voluptates, saepe. Esse corporis beatae inventore exercitationem quas, maiores, velit nulla eos quam similique pariatur in ducimus amet vel quis repudiandae. At, maxime alias!
          Numquam eos eveniet molestiae voluptatibus repudiandae ipsa alias fuga deleniti ipsum vitae, nam minus adipisci at magni delectus animi ex voluptatem vero nihil natus corrupti harum tempore et. Aliquam, sed.
          Modi architecto, sit suscipit in possimus aspernatur repellat iusto pariatur iste sapiente aliquid aliquam mollitia magnam! Quis quidem nemo porro magni, sed adipisci earum maiores quos in magnam tempora delectus.
          Aut quis non nostrum tempora possimus dolorem ab rem doloribus sapiente sed aperiam totam maxime, voluptates eius dolores iste, nisi distinctio odit molestiae! Cumque cum nobis est libero nihil aut.
          Iure, nisi itaque debitis excepturi atque distinctio unde quia illum animi aliquam nihil eius. Totam minus veritatis aliquid enim! Rem quam eius, suscipit blanditiis saepe natus temporibus maxime eveniet iusto.
          Sit, repudiandae repellat? Error quas veritatis provident, dignissimos recusandae illo, magnam dolores distinctio optio exercitationem ipsum consectetur suscipit reprehenderit reiciendis ratione quasi facilis quidem id? Nobis sunt voluptates officiis labore.
          Adipisci quasi molestiae, ipsa corrupti vitae numquam sequi cumque cupiditate voluptas nesciunt laboriosam quod. Corporis sapiente, assumenda deserunt quam accusamus adipisci officiis laborum. Repudiandae ab impedit, rem blanditiis doloremque eum.
          Ratione vero quibusdam laboriosam, est aliquid omnis iusto quae veritatis amet eligendi. Voluptates animi libero nihil nemo sed rem excepturi voluptas suscipit iusto impedit voluptatem, vero sapiente repudiandae fugiat vitae!
          Eaque praesentium explicabo, illum soluta odio quod voluptatum sunt sit impedit nam odit porro natus aut? Repudiandae beatae suscipit voluptas voluptatum velit mollitia qui, molestias ratione eius aspernatur vel distinctio?
          Iste cum aspernatur ipsa animi perspiciatis unde, quae facere quos reprehenderit quo ullam temporibus commodi error dolore quibusdam, obcaecati nemo quas. Corrupti consectetur cupiditate error inventore alias reprehenderit, accusantium incidunt?
          Est, itaque. Modi, aliquid, possimus, molestias beatae sint sapiente qui neque ipsam reprehenderit nemo architecto commodi culpa debitis repudiandae maiores soluta ipsa facere aliquam? A blanditiis fugiat adipisci mollitia cupiditate?
          Cumque minima in, eligendi magni provident, molestias exercitationem et maiores iusto earum optio, laudantium similique pariatur. Corporis cumque enim quaerat? Nulla aliquid molestiae deserunt adipisci est obcaecati porro fuga illum.
          Ducimus veritatis doloremque repudiandae tenetur mollitia modi voluptatum, quisquam corporis saepe voluptate sint, odio est nihil! Odit libero dolorem officia magni non ipsa molestias perspiciatis temporibus delectus beatae! Beatae, quos!
          Consectetur sapiente aliquid asperiores deleniti? Veniam laborum eligendi veritatis enim id est quo voluptatum magni assumenda, reiciendis obcaecati cupiditate neque maiores natus! Atque soluta illo, culpa sequi deleniti doloribus repellendus!
          Quos ad in, consequuntur adipisci ratione iste sint nobis exercitationem aspernatur nulla natus enim quas explicabo pariatur a nostrum accusantium ab? Molestiae corporis vel harum iste, officia qui amet beatae.
          Quam modi ipsam a quasi! Impedit autem illum accusantium nam expedita placeat laboriosam eveniet necessitatibus quis corporis molestias, unde atque adipisci perspiciatis vitae illo debitis labore repudiandae hic perferendis consequatur!
          Facilis voluptatibus odio quia impedit vitae, amet modi, reiciendis qui accusamus maxime excepturi suscipit inventore sed quae voluptatem omnis quidem, rerum aperiam eligendi obcaecati quos debitis! Officia in eligendi qui?
          Error consequuntur corrupti odit nulla, sapiente ipsa, eligendi officia unde neque cum soluta similique sed accusantium ea et id, animi aliquam iusto sunt quod odio! Cupiditate sapiente numquam maiores dolores.
          Sit, sed. Qui iusto cupiditate ipsum ex laboriosam reiciendis! Quo unde, praesentium blanditiis velit modi quisquam ratione ad architecto voluptate minus, animi magnam sunt harum, id debitis iusto doloremque iste?
          Repellendus animi earum officia sunt recusandae, vitae modi sit, nulla laboriosam saepe atque perferendis veniam. Suscipit dignissimos odit repellat deserunt blanditiis mollitia quam neque magni cupiditate, at quaerat exercitationem culpa!
          Commodi perferendis, ad corporis asperiores dolor iure repudiandae odit temporibus ab labore exercitationem aut minus quidem alias fugit mollitia vero atque incidunt nam suscipit vitae! Magnam veritatis sapiente corrupti inventore?
          Nesciunt, totam laborum voluptates obcaecati neque eaque? Fugiat illo, explicabo enim quia maiores velit consectetur iure soluta ipsum quos fugit eaque, aut nulla maxime ullam, tempora molestiae. Repellat, aliquid soluta!
          Consectetur, mollitia veritatis adipisci cumque porro omnis commodi iusto id facere quaerat? Hic at nulla perferendis sed delectus magni quasi, cum inventore, vel iure suscipit assumenda non quia omnis enim!
          Iusto, obcaecati! Suscipit alias repudiandae corporis quos similique velit cupiditate, voluptate voluptates tempora maxime veritatis assumenda deserunt, sunt deleniti nobis sit eos saepe iure quam? Laboriosam soluta facilis aliquam magnam!
          Eius dolores porro, laboriosam beatae eveniet iusto excepturi mollitia cumque, animi praesentium voluptatibus harum aspernatur odio architecto temporibus. Maxime deserunt, autem saepe cumque facilis voluptas perspiciatis quaerat temporibus illum ipsa.
          <!-- {% if posts %}
            {% for post in posts %}
                <div class="post-preview">
                  <a href="#">
                    <h2 class="post-title">
                      {{ post.titulo }}
                    </h2>
                    <h3 class="post-subtitle">
                      {{ post.descripcion }}
                    </h3>
                  </a>
                  <p class="post-meta">Escrito por
                   <strong>{{ post.autor }}</strong>   el
                    {{ post.fecha_creacion }}</p>
                </div>
                <hr>
            {% endfor %} -->
          {% else %}
            <h1>No existen post registrados!</h1>
          {% endif %}
          {% endblock contenido %}

        </div>
      </div>
    </div>
    {% endblock clases_container_contenido %}

    <div class="row">
      <div class="col-md-12 col-lg-12 col-mg-12 col-mx-12">
        <div class="col-md-6 float-left">
          {% if productos.has_previous %}
            <div class="clearfix">
              <a href="?page={{ productos.previous_page_number }} {% if request.GET.search %} &q={{ request.GET.search }} {% endif %}" class="btn btn-primaty float-left"> Anterior</a>
            </div>
          {% endif %}
        </div>
        <div class="col-md-6 float-right">
          {% if productos.has_next %}
            <div class="clearfix">
              <a href="?page={{ productos.next_page_number }} " class="btn btn-primaty float-right"> Siguiente</a>
            </div>
          {% endif %}
        </div>
          
        
      </div>
    </div>

   <!-- <div class="row">
     <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
       <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 float-left">
         {% if posts.has_previous %}
              <div class="clearfix">
                <a href="?page={{ posts.previous_page_number }}{% if request.GET.search %}&q={{ request.GET.search }}{% endif %}" class="btn btn-primary float-left">Anterior</a>
              </div>
         {% endif %}
       </div>
     </div>
     <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
       <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6  float-right">
         {% if posts.has_next %}
              <div class="clearfix">
                <a href="?page={{ posts.next_page_number }}{% if request.GET.search %}&q={{ request.GET.search }}{% endif %}" class="btn btn-primary float-right">Siguiente</a>
              </div>
         {% endif %}
       </div>
     </div>
   </div> -->



    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/test.js' %}"></script>
    {% block script %}
    {% endblock script %}
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/clean-blog.min.js' %}"></script>

  </body>

</html>
